Full source code is [available on github](https://github.com/stephenostermiller/qqwing).

There are several major source files for the C++ version of QQWing:

 - [qqwing.cpp](qqwing.cpp.html)
 - [qqwing.hpp](qqwing.hpp.html)
 - [main.cpp](main.cpp.html)
 - [QQWing.java](QQWing.java.html)
 - [qqwing-main.js](qqwing-main.js.html)

~~~~ {.$lang .numberLines}
